extends ../layouts/master

include ../components/breadcrumbs
include ../components/buttons
include ../components/cards
include ../components/block-titles
include ../components/picture

block content

  section.section--first.section--grey-extra
    .container
      +breadcrumbs(page = 'О клубе')

      .about-block(data-aos='fade-up')
        .section-bg-photo.about-main-bg
          +big-titles.white-ttl(ttl='О клубе' subttl='профессор фрейд' h1)

          .scroll-down(data-aos='fade-up')
            .scroll-down__line

        .about-block-bottom(data-aos='fade-up')
          each item in ['Хьюмидорная комната', 'Сигарный лаунж', 'Кабинет Фрейда', 'Ресторан с баром', 'Винотека в формате bar&shop']

            a.about-block-bottom__item(href="") #{item}

  section.section--top
    .container
      .benefits-block.before-interior-block
        .benefits-cell(data-aos='fade-up')
          +big-titles(subttl='подробнее о нас' ttl='Уникальный' ttl2='проект')

        -
          const benefits = [
            {ttl: 'Респектабельная атмосфера', txt: 'Элегантное и уютное пространство, где можно расслабиться и отвлечься от повседневных дел'},
            {ttl: 'Безупречный сервис', txt: 'Качество сервиса для нас самое главное. Нам важно, чтобы каждый гость чувствовал себя комфортно'},
            {ttl: 'Максимальная приватность', txt: 'Мы гарантируем нашим гостям атмосферу приватности и уважения к личному пространству'},
            {ttl: 'Клубные', ttl2: 'карты', txt: 'Станьте нашим постоянным гостем и приобретите клубную карту, по гостевой карте вы получите регулярные скидки'},
          ]

        each item, index in benefits
          .benefits-cell.cell-list(data-aos='fade-up')
            +about-benefit-ico(`${index}`)

            .benefits-cell__info
              .benefits-cell__ttl.h3 #{item.ttl}
                if (item.ttl2)
                  br
                  | #{item.ttl2}

              .benefits-cell__txt #{item.txt}

  section.section--bottom.section--grey.interior-block
    .container
      .interior-block__slider
        .restaurant-slider(data-aos='fade-up')
          .restaurant-slider__col
            +control-left#restaurant-slider-prev

          .restaurant-slider__container
            .swiper-container#restaurant-slider
              .swiper-wrapper
                - for (i=0;i<3;i++)
                  .swiper-slide
                    +picture(file='main-slide')

            .sliders-pagination#restaurant-slider-pagination

          .restaurant-slider__col
            +control-right#restaurant-slider-next

      .interior-block__col
        +big-titles(subttl='элегантный дизайн' ttl='Интерьер' txt='Строгое респектабельное пространство с атмосферой мужского клуба со стилистической отсылкой к позднему Австрийскому модерну и современному «северному итальянскому модерну» 60-70-х годов XX века')

  include ../components/sections/rules-section

  include ../components/sections/reviews-section

  include ../components/sections/club-card-section

  include ../components/sections/rent-section

  include ../components/sections/subscribe-section

block modals
  include ../components/popups/review-popup
  include ../components/popups/consult-popup
  include ../components/popups/subscribe-success-popup
