extends ../layouts/master

include ../components/breadcrumbs
include ../components/buttons
include ../components/cards
include ../components/block-titles
include ../components/picture

block content

  section.section--first.section--grey-extra
    .container
      +breadcrumbs(page = 'О клубе')

      .about-block
        .section-bg-photo
          +big-titles.white-ttl(ttl='О клубе' subttl='профессор фрейд' h1)

          .scroll-down
            .scroll-down__line

        .about-block-bottom
          each item in ['Хьюмидорная комната', 'Сигарный лаунж', 'Кабинет Фрейда', 'Ресторан с баром', 'Винотека в формате bar&shop']

            a.about-block-bottom__item(href="") #{item}

  section.section--top
    .container
      .benefits-block.before-interior-block
        .benefits-cell
          +big-titles(subttl='подробнее о нас' ttl='Уникальный' ttl2='проект')

        -
          const benefits = [
            {ttl: 'Респектабельная атмосфера', txt: 'Элегантное и уютное пространство, где можно расслабиться и отвлечься от повседневных дел'},
            {ttl: 'Безупречный сервис', txt: 'Качество сервиса для нас самое главное. Нам важно, чтобы каждый гость чувствовал себя комфортно'},
            {ttl: 'Максимальная приватность', txt: 'Мы гарантируем нашим гостям атмосферу приватности и уважения к личному пространству'},
            {ttl: 'Клубные', ttl2: 'карты', txt: 'Станьте нашим постоянным гостем и приобретите клубную карту, по гостевой карте вы получите регулярные скидки'},
          ]

        each item, index in benefits
          .benefits-cell.cell-list
            +about-benefit-ico(`${index}`)

            .benefits-cell__info
              .benefits-cell__ttl.h3 #{item.ttl}
                if (item.ttl2)
                  br
                  | #{item.ttl2}

              .benefits-cell__txt #{item.txt}

  section.section--bottom.section--grey.interior-block
    .container
      .restaurant-slider
        .restaurant-slider__col
          +control-left#restaurant-slider-prev

        .restaurant-slider__container
          .swiper-container#restaurant-slider
            .swiper-wrapper
              - for (i=0;i<3;i++)
                .swiper-slide
                  +picture(file='main-slide')

          .sliders-pagination#restaurant-slider-pagination

        .restaurant-slider__col
          +control-right#restaurant-slider-next

      .interior-block__col
        +big-titles(subttl='элегантный дизайн' ttl='Интерьер' txt='Строгое респектабельное пространство с атмосферой мужского клуба со стилистической отсылкой к позднему Австрийскому модерну и современному «северному итальянскому модерну» 60-70-х годов XX века')

  include ../components/sections/rules-section

  include ../components/sections/reviews-section

  section.section
    .container
      .club-card-block
        .club-card-block__col
          +big-titles(subttl='специальные условия' ttl='Клубная' ttl2='карта' txt='Первоклассное обслуживание с дополнительными привилегиями: скидки, подарки, приглашениена закрытые мероприятия')
          +read-more-btn
            |узнать больше

        a.club-card-block__col(href='')
          +infinity
          .club-card-block__col__ttl Привилегии #[br] клубной карты

  include ../components/sections/rent-section

  include ../components/sections/subscribe-section

block modals
  include ../components/popups/review-popup