extends ../layouts/master

include ../components/breadcrumbs
include ../components/buttons
include ../components/cards
include ../components/block-titles
include ../components/picture

block content

  section.section--first
    .container
      +breadcrumbs(page = 'Справочная информация')

      .contacts-block
        .contacts-block__top
          +big-titles(subttl='профессор фрейд' ttl='Справочная информация' txt='Расскажем подробно обо всех тонкостях' txt2='и нюансах' h1)

          .scroll-down.only-desktop(data-aos='fade-up')
            .scroll-down__line

      .articles-top(data-aos='fade-up' data-tabs)

        .articles-top__item.active(data-tabs-item)
          |Все

        each item in ['Сигары', 'Алкоголь', 'Новости']
          .articles-top__item(data-tabs-item) #{item}

  section.section--bottom
    .container
      .articles-body

        .articles-body-row(data-aos='fade-up')
          +article-card-big(ttl=`Как выбрать сигару` txt=`А началось все с открытия Колумбом Америки, когда вместе с другими «чудесами» были привезены в Испанию в 1493 году листья табака. И что только с ними не делали...`)

        .articles-row.articles-body-row(data-aos='fade-up')
    
          -
            const articles = [
              {ttl: 'Как хранить сигару', txt: 'Что же из себя представляет современная сигара? По способу производства различают сигары ручной работы.'},
              {ttl: 'Какую сигару выбрать к вину', txt: 'Что же из себя представляет современная сигара? По способу производства различают сигары ручной работы. Что же из себя представляет современная сигара? По способу производства различают сигары ...'},
              {ttl: 'Как хранить сигару', txt: 'Что же из себя представляет современная сигара? По способу производства различают сигары ручной работы.'}
            ] 

          each item in articles
            +article-card(ttl=`${item.ttl}` txt=`${item.txt}`)

        .articles-body-row(data-aos='fade-up')
          +article-card-big.articles-card--big-revert(ttl=`Как выбрать сигару` txt=`А началось все с открытия Колумбом Америки, когда вместе с другими «чудесами» были привезены в Испанию в 1493 году листья табака. И что только с ними не делали...`)

        .articles-row.articles-body-row(data-aos='fade-up')

          each item in articles
            +article-card(ttl=`${item.ttl}` txt=`${item.txt}`)

        .articles-body-row(data-aos='fade-up')
          +article-card-big(ttl=`Как выбрать сигару` txt=`А началось все с открытия Колумбом Америки, когда вместе с другими «чудесами» были привезены в Испанию в 1493 году листья табака. И что только с ними не делали...`)

        .articles-row.articles-body-row(data-aos='fade-up')

          each item in articles
            +article-card(ttl=`${item.ttl}` txt=`${item.txt}`)

        .articles-body-row(data-aos='fade-up')
          +article-card-big.articles-card--big-revert(ttl=`Как выбрать сигару` txt=`А началось все с открытия Колумбом Америки, когда вместе с другими «чудесами» были привезены в Испанию в 1493 году листья табака. И что только с ними не делали...`)

        .articles-row.articles-body-row(data-aos='fade-up')

          each item in articles
            +article-card(ttl=`${item.ttl}` txt=`${item.txt}`)


        +brown-border-button.more-btn(data-aos='fade-up')
          |Показать ещё


  section.section--bottom
    .container
      +small-titles(ttl='Каталог товаров')

      .categories-slider.controls-out(data-aos='fade-up')
        .swiper-container#categories-slider
          .swiper-wrapper
            -
              const cards = [
                {file: 'shop-category-1', ttl: 'Сигары'},
                {file: 'shop-category-2', ttl: 'Сигариллы'},
                {file: 'shop-category-1', ttl: 'Хьюмидоры'},
              ]
            each item in cards
              .swiper-slide
                a.shop-page-head__card(href="")
                  .shop-page-head__card-img
                    +picture(file=`${item.file}`)
                  .shop-page-head__card-ttl.h4 #{item.ttl}

        .controls-out__container
          +control-left#categories-slider-prev
          +control-right#categories-slider-next

  include ../components/sections/subscribe-section

block modals
  include ../components/popups/subscribe-success-popup
