extends ../layouts/master

include ../components/breadcrumbs
include ../components/buttons
include ../components/cards
include ../components/block-titles
include ../components/picture

block content

  section.section--first.section--grey-extra.section--pb120
    .container
      +breadcrumbs(items = ['О клубе'] page = 'Кабинет Фрейда')

      .about-block(data-aos='fade-up')
        .section-bg-photo.lounge-main-section.cabinet-main-bg
          +big-titles.white-ttl.only-desktop(subttl='приватность и сервис' ttl='Кабинет Фрейда' h1)
          +big-titles.white-ttl.only-mobile(subttl='приватность и сервис' ttl='Кабинет' ttl2='Фрейда' h1)

          +brown-button.button--on-black(data-popup-button='1' data-aos='fade-up')
            |Забронировать стол

  section.section--top
    .container
      .benefits-block.before-interior-block
        .benefits-cell(data-aos='fade-up')
          +big-titles(subttl='мы гарантируем' ttl='Комфорт' ttl2='и приватность')

        -
          const benefits = [
            {ttl: 'Закрытое пространство', txt: 'Здесь вас ничто не потревожит. Персональное обслуживание,', txt2: 'отдельный гардероб'},
            {ttl: 'Для небольших', ttl2: 'компаний', txt: 'Здесь можно уединиться для проведения переговоров, деловых встреч или отдыха'},
            {ttl: 'Современное', ttl2: 'оборудование', txt: 'Кабинет оборудован виниловым проигрывателем, телевизором и Apple TV'},
            {ttl: 'Мощная', ttl2: 'вентиляция', txt: 'Уникальная система вентиляции позволяет быстро очищать воздух от сигарного дыма'},
          ]

        each item, index in benefits
          .benefits-cell.cell-list(data-aos='fade-up')
            +cabinet-benefit-ico(`${index}`)

            .benefits-cell__info
              .benefits-cell__ttl.h3 #{item.ttl}
                if (item.ttl2)
                  br
                  | #{item.ttl2}

              .benefits-cell__txt #{item.txt}
                if (item.txt2)
                  |#{item.txt2}

  section.section--bottom.section--grey.interior-block
    .container
      .interior-block__slider
        .restaurant-slider(data-aos='fade-up')
          .restaurant-slider__col.only-desktop
            +control-left#restaurant-slider-prev

          .restaurant-slider__container
            .swiper-container#restaurant-slider
              .swiper-wrapper
                - for (i=0;i<3;i++)
                  .swiper-slide
                    +picture(file='cabinet-slide')

            .sliders-pagination#restaurant-slider-pagination

          .restaurant-slider__col.only-desktop
            +control-right#restaurant-slider-next

      .interior-block__col
        +big-titles(subttl='профессора фрейда' ttl='Кабинет')

        .big-titles__txt(data-aos='fade-up') Кабинет предназначен для гостей, ценящих время, комфорт и индивидуальный подход к обслуживанию. Здесь вы можете уединиться для проведения переговоров, деловых встреч или отдыха. #[br] #[br] Стоимость бронирования кабинета — 7 000 ₽/час. Для владельцев 
          span.anchor(data-anchor-btn='club-card') клубной карты 
          |«Профессор Фрейд» — 2 часа в день бесплатно 

  section.section.lounge-section
    .container
      .two-cols-block
        .two-cols-block__col

          .cabinet-col.two-cols-block__pl

            +big-titles(ttl='Специальное' ttl2='предложение' subttl='для джентльменов')

            .two-cols-block__txt(data-aos='fade-up') Каждый может почувствовать себя членом закрытого клуба и провести вечер в окружении друзей, роскоши и спокойствия

            div(data-aos='fade-up' data-popup-button='12')
              +read-more-btn(data-attr='' btn)
                |узнать больше

          .only-desktop(data-aos='fade-up')
            +picture(file='cabinet-1')
          .only-mobile(data-aos='fade-up')
            +picture(file='cabinet-2')

        .two-cols-block__col

          .only-desktop(data-aos='fade-up')
            +picture(file='cabinet-2')
          .only-mobile(data-aos='fade-up')
            +picture(file='cabinet-1')

          .txt-block.cabinet-col2(data-aos='fade-up')
            .two-cols-block__txt Индивидуальный подход, интересный рассказ витолье, таинство сервировки и курения сигар из разных уголков мира в сочетании с уникальным авторским коктейлем «Сон о воине», крепким алкоголем и специальным меню закусок от нашего шеф-повара оставят самые теплые и яркие воспоминания об этом вечере

            +brown-button(data-popup-button='8')
              |Получить консультацию

  section.section-bg-photo.cabinet-section-bg
    +big-titles.white-ttl(ttl='Приватное пространство' subttl='место для деловых встреч')

    .two-cols-block__txt.txt-white.only-desktop(data-aos='fade-up') Приватное пространство для проведения деловых встреч, #[br] мероприятий и праздников
    .two-cols-block__txt.txt-white.only-mobile(data-aos='fade-up') Приватное пространство для проведения #[br] деловых встреч, мероприятий #[br] и праздников

    +brown-button.button--on-black(data-popup-button='1' data-aos='fade-up')
      |Забронировать стол

  include ../components/sections/club-card-section

  include ../components/sections/rules-section

  section.section--top
    include ../components/sections/articles-section

  -
    const titles = [
      {ttl: 'Онлайн-каталог сигар', subttl: 'полный ассортимент'},
      {ttl: 'Подарочные наборы', subttl: 'выбор покупателей'}
    ]
    let newTitle = titles[0];
    let nobtn = true;
    let newBtn = 'Смотреть все товары';
  include ../components/sections/shop-section

  include ../components/sections/subscribe-section

block modals
  include ../components/popups/in-cart-popup
  include ../components/popups/consult-popup
  include ../components/popups/consult-success-popup
  include ../components/popups/subscribe-success-popup
  include ../components/popups/offer-popup
