extends ../layouts/master

include ../components/breadcrumbs
include ../components/buttons
include ../components/cards
include ../components/block-titles
include ../components/picture

block content

  -
    const menu1 = [
      {name: 'Prosecco Brut, Gancia', price: '700 ₽', weight: 'Глера, Венето, Италия, NV, 200 мл'},
      {name: 'Chateau Fonseche, Haut-Medoc', price: '700 ₽', weight: 'Каберне Совиньон, Мерло, Бордо, Франция, 2014, 150 мл'},
      {name: 'Sauvignon Blanc Land Madе, Yealands', price: '700 ₽', weight: 'Совиньон Блан, Мальборо, Австралия, 2019, 150 мл'},
      {name: 'Zweigelt Rose Fresh and Easy, Leth', price: '700 ₽', weight: 'Цвайгельт, Австрия, 2018, 150 мл'},
      {name: 'Zweigelt Rose Fresh and Easy, Leth', price: '700 ₽', weight: 'Цвайгельт, Австрия, 2018, 150 мл'},
      {name: 'Zweigelt Rose Fresh and Easy, Leth', price: '700 ₽', weight: 'Цвайгельт, Австрия, 2018, 150 мл'},
      {name: 'Zweigelt Rose Fresh and Easy, Leth', price: '700 ₽', weight: 'Цвайгельт, Австрия, 2018, 150 мл'},
      {name: 'Zweigelt Rose Fresh and Easy, Leth', price: '700 ₽', weight: 'Цвайгельт, Австрия, 2018, 150 мл'},

      {name: 'Prosecco Brut, Gancia', price: '700 ₽', weight: 'Глера, Венето, Италия, NV, 200 мл'},
      {name: 'Chateau Fonseche, Haut-Medoc', price: '700 ₽', weight: 'Каберне Совиньон, Мерло, Бордо, Франция, 2014, 150 мл'},
      {name: 'Sauvignon Blanc Land Madе, Yealands', price: '700 ₽', weight: 'Совиньон Блан, Мальборо, Австралия, 2019, 150 мл'},
      {name: 'Zweigelt Rose Fresh and Easy, Leth', price: '700 ₽', weight: 'Цвайгельт, Австрия, 2018, 150 мл'},
    ]

  section.section--first.section--grey-extra
    .container
      +breadcrumbs(items = ['Ресторан'] page = 'Меню')

      .about-block
        .menu-main-bg.lounge-main-section(data-aos='fade-up')
          +big-titles.white-ttl(subttl='ресторан' ttl='Меню' h1)

          +brown-button(data-popup-button='1' data-aos='fade-up')
            |Забронировать стол

        .about-block-bottom.menu-tabs(data-aos='fade-up')

          .about-block-bottom__item.menu-tab.active
            +menu-ico-1
            |Основное

          each item, index in ['Крабовое', 'Винная карта', 'Барная карта', 'Б/а напитки']

            .about-block-bottom__item.menu-tab
              +menu-ico(index)
              |#{item}

  section.section
    .container
      +big-titles.menu-wine-top(subttl='лучшие вина' ttl='Винная карта')

      .menu-wine-body(data-aos='fade-up')
        dl.menu-wine-col.js-badger-accordion.badger-accordion
          -
            const spoilers = [
              'Вина по бокалам',
              'Вина в полубутылках',
              'Шампанское и игристые вина'
            ]

          each item in spoilers
            
            dt
              button.button--clean.rules-spoiler__button.js-badger-accordion-header
                .rules-spoiler__ttl #{item}
                .rules-spoiler__arrow
                  +arrow-down

            dd.rules-spoiler__drop.js-badger-accordion-panel.badger-accordion__panel
              .rules-spoiler__drop-inner.js-badger-accordion-panel-inner

                .menu-wine-inner

                  each item in menu1
                    .menu-list__row
                      .menu-list__name #{item.name}
                      .menu-list__price #{item.price}
                      .menu-list__weight #{item.weight}

        dl.menu-wine-col.js-badger-accordion.badger-accordion
          -
            const spoilers2 = [
              'Белые вина',
              'Красные вина',
              'Розовые вина'
            ]

          each item in spoilers2
            
            dt
              button.button--clean.rules-spoiler__button.js-badger-accordion-header
                .rules-spoiler__ttl #{item}
                .rules-spoiler__arrow
                  +arrow-down

            dd.rules-spoiler__drop.js-badger-accordion-panel.badger-accordion__panel
              .rules-spoiler__drop-inner.js-badger-accordion-panel-inner

                .menu-wine-inner

                  each item in menu1
                    .menu-list__row
                      .menu-list__name #{item.name}
                      .menu-list__price #{item.price}
                      .menu-list__weight #{item.weight}

  include ../components/sections/subscribe-section

block modals
  include ../components/popups/subscribe-success-popup
