extends ../layouts/master

include ../components/buttons
include ../components/cards
include ../components/breadcrumbs
include ../components/block-titles
include ../components/picture

block content

  section.section--first.section--bottom
    .container
      .category-page-head
        +breadcrumbs(items = ['Магазин'] page = 'сигары')

      .category-top
        .category-top__line
          
          .category-title-block
            h1.category-title.h2 Сигары
            .category-items-count 96 товаров

          .category-search
            input.category-search__input(type='search' placeholder='Поиск по каталогу')
            +search-icon

        .category-top__line.cigars-filters

          - for (b=0;b<3;b++)
            button.category-filter-btn.button--clean
              |Кубинские сигары Bolivar
              span.category-filter-btn__count 24  

        .category-top__line.filter-drops
          .filter-drops-btns
            button.category-filter-drop.button--clean(data-popup-button='3')
              +filter-icon
              span все фильтры

            -
              const filters = [
                'цена',
                'производитель',
                'страна',
                'крепость',
                'время курения',
                'Формат',
                'рекомендуем',
              ]
            each item, index in filters
              button.category-filter-drop.button--clean(data-filter-btn=`${index}`)
                span #{item}
                +arrow-down

          .filter-drops-container

            .filter-drops-modal(data-price-filter data-filter-drop="0")
              .filters-popup-item__ttl
                span цена

              .filter-range#range-slider-container

                .filter-range__input
                  span От
                  input#range-from(type="number")
                .filter-range__input
                  span До
                  input#range-to(type="number")

                .filter-range__slider#range-slider(data-range-min='0' data-range-max='50')

              label.checkbox.filter-checkbox
                .checkbox__label
                  input.checkbox__input(type="checkbox")
                  .checkbox__box
                    +checkbox-white-svg.checkbox__svg

                .checkbox__caption Показать только товары со скидкой

                  span.count 250

            .filter-drops-modal(data-producer-filter data-filter-drop="1")
              .filters-popup-item__ttl
                span производитель

              .filter-producers__ttl Поиск по производителям

              label.filter-producers__input
                input(type="search" placeholder="Введите производителя")

                button.button--clean(type="submit")
                  +search-icon

              .filter-checkboxes

                -
                  const checkboxes2 = [
                    {name: 'Alec Bradley', count: '7'},
                    {name: 'Atabey', count: '7'},
                    {name: 'Bugatti', count: '11'},
                    {name: 'Davidoff', count: '33'},
                    {name: 'Gurkha', count: '22'},
                    {name: 'Juan Lopez', count: '1'},
                    {name: 'La Flor Dominicana', count: '4'},
                    {name: 'Nub', count: '4'},
                    {name: 'Paradiso', count: '4'},
                    {name: 'Plasencia', count: '5'},
                    {name: "Quai D'Orsay", count: '5'},
                    {name: 'Romeo Y Julieta', count: '5'},
                    {name: 'Vegas Robaina', count: '6'},
                    {name: 'Arturo Fuente ', count: '21'},
                    {name: 'AVO', count: '1'},
                    {name: 'Camacho', count: '2'},
                  ]

                each item in checkboxes2

                  label.checkbox.filter-checkbox
                    .checkbox__label
                      input.checkbox__input(type="checkbox")
                      .checkbox__box
                        +checkbox-white-svg.checkbox__svg

                    .checkbox__caption
                      |#{item.name}

                      span.count #{item.count}

            .filter-drops-modal(data-country-filter data-filter-drop="2")
              .filters-popup-item__ttl
                span страна

              .filter-producers__ttl Поиск по странам

              label.filter-producers__input
                input(type="search" placeholder="Введите страну")

                button.button--clean(type="submit")
                  +search-icon

              .filter-checkboxes

                each item in checkboxes2

                  label.checkbox.filter-checkbox
                    .checkbox__label
                      input.checkbox__input(type="checkbox")
                      .checkbox__box
                        +checkbox-white-svg.checkbox__svg

                    .checkbox__caption
                      |#{item.name}

                      span.count #{item.count}

            .filter-drops-modal(data-strong-filter data-filter-drop="3")
              .filters-popup-item__ttl
                span крепость

              .filters-popup-item__list

                button.category-filter-btn.button--clean
                  .catalog-card__strong
                    .point.active
                  span.category-filter-btn__cross
                  span.category-filter-btn__count 23

                button.category-filter-btn.button--clean
                  .catalog-card__strong
                    - for (i=0;i<2;i++)
                      .point.active
                  span.category-filter-btn__cross
                  span.category-filter-btn__count 23

                button.category-filter-btn.button--clean
                  .catalog-card__strong
                    - for (i=0;i<3;i++)
                      .point.active
                  span.category-filter-btn__cross
                  span.category-filter-btn__count 23

                button.category-filter-btn.button--clean
                  .catalog-card__strong
                    - for (i=0;i<4;i++)
                      .point.active
                  span.category-filter-btn__cross
                  span.category-filter-btn__count 23

                button.category-filter-btn.button--clean
                  .catalog-card__strong
                    - for (i=0;i<5;i++)
                      .point.active
                  span.category-filter-btn__cross
                  span.category-filter-btn__count 23

            .filter-drops-modal(data-duration-filter data-filter-drop="4")
              .filters-popup-item__ttl
                span время курения

              .filter-checkboxes
                label.checkbox.filter-checkbox
                  .checkbox__label
                    input.checkbox__input(type="checkbox")
                    .checkbox__box
                      +checkbox-white-svg.checkbox__svg
                  .checkbox__caption
                    |до 30 мин
                    span.count 18

                label.checkbox.filter-checkbox
                  .checkbox__label
                    input.checkbox__input(type="checkbox")
                    .checkbox__box
                      +checkbox-white-svg.checkbox__svg
                  .checkbox__caption
                    |30‒59 мин
                    span.count 9

            .filter-drops-modal(data-format-filter data-filter-drop="5")
              .filters-popup-item__ttl
                span формат
              .filter-producers__ttl Поиск по форматам

              label.filter-producers__input
                input(type="search" placeholder="Введите формат")

                button.button--clean(type="submit")
                  +search-icon

              .filter-checkboxes

                each item in checkboxes2

                  label.checkbox.filter-checkbox
                    .checkbox__label
                      input.checkbox__input(type="checkbox")
                      .checkbox__box
                        +checkbox-white-svg.checkbox__svg

                    .checkbox__caption
                      |#{item.name}

                      span.count #{item.count}

            .filter-drops-modal(data-sorting-filter data-filter-drop="6")
              fieldset.sorting-filter
                label.sorting-filter__label
                  input(type="radio" name="sorting")
                  span Рекомендуем
                label.sorting-filter__label
                  input(type="radio" name="sorting")
                  span Новинки
                label.sorting-filter__label
                  input(type="radio" name="sorting")
                  span По убыванию цены
                label.sorting-filter__label
                  input(type="radio" name="sorting")
                  span По возрастанию цены

        .category-top__line
          - for (b=0;b<3;b++)
            button.category-filter-btn.button--clean.active-filter
              |Alec Bradley
              span.category-filter-btn__cross

          button.category-filter-btn.button--clean.filter-reset
              |Очистить все

      .category-body

        - for (b=0;b<6;b++)
          -
            var content = [
              {img: 'shop-img-1',
              brand: 'Ornellaia',
              ttl: 'Вино St-Emilion AOC Premier Grand Cru Classe',
              txt: 'Красное, сухое, 750 мл',
              price: '165 750'},

              {img: 'shop-img-2',
              brand: 'Gurkha',
              ttl: 'Сигара Triad Platinum',
              txt: 'strong',
              price: '13 820 ₽'}
            ]
          
          each item in content
            +catalog-card(img=`${item.img}` brand=`${item.brand}` ttl=`${item.ttl}` txt=`${item.txt}` price=`${item.price}`)

      +brown-border-button.more-btn
        |Посмотреть еще

  section.section.section--grey
    .container
      +small-titles(ttl='Выберите идеальную пару')

      .recommend-slider.controls-out
        .swiper-container#recommend-slider
          .swiper-wrapper

            - for (i=0;i<3;i++)
              .swiper-slide
                .recommend-card
                  +picture(file='recommend-1')
                  .recommend-card__ttl Сигара COHIBA BHK 52 и игристое вино Chateau Mouton Rothschild, Pauillac AOC
                  .recommend-card__txt Лучше всего сигары сочетаются с крепкими спиртными напитками. Сочетание сигар и алкоголя приносят курильщику

        .controls-out__container
          +control-left#recommend-slider-prev
          +control-right#recommend-slider-next

      .sliders-pagination#recommend-slider-pagination

  section.section--top
    .container
      +small-titles(ttl='Другие категории товаров')

      .categories-slider.controls-out
        .swiper-container#categories-slider
          .swiper-wrapper
            -
              const cards = [
                {file: 'shop-category-1', ttl: 'Сигары'},
                {file: 'shop-category-2', ttl: 'Сигариллы'},
                {file: 'shop-category-1', ttl: 'Хьюмидоры'},
              ]
            each item in cards
              .swiper-slide
                a.shop-page-head__card(href="")
                  +picture(file=`${item.file}`)
                  .shop-page-head__card-ttl #{item.ttl}

        .controls-out__container
          +control-left#categories-slider-prev
          +control-right#categories-slider-next

  -
    const smallTitle = 'Вы смотрели ранее';
    const nobtn = true;
  include ../components/sections/shop-section

  section.section--bottom
    include ../components/sections/articles-section

block modals
  include ../components/popups/filters-popup
  include ../components/popups/producers-popup
