extends ../layouts/master

include ../components/breadcrumbs
include ../components/buttons
include ../components/cards
include ../components/block-titles
include ../components/picture

block content

  section.section--first.section--grey-extra
    .container
      +breadcrumbs(page = 'Ресторан')

      .about-block
        .restaurant-main-bg.lounge-main-section(data-aos='fade-up')
          +big-titles.white-ttl(subttl='профессор фрейд' ttl='Ресторан' h1)

          +brown-button.button--on-black(data-popup-button='1' data-aos='fade-up')
            |Забронировать стол

        .about-block-bottom.restaurant-top-links(data-aos='fade-up')
          each item in ['Основное меню', 'Крабовое меню', 'Винная карта', 'Барная карта', 'б/а напитки']

            a.about-block-bottom__item(href="")
              |#{item}
              .arrow.only-mobile
                +arrow-right

  section.section--top
    .container
      .benefits-block.restaurant-benefit-fix.only-desktop
        .benefits-cell(data-aos='fade-up')
          +big-titles(subttl='безупречный сервис' ttl='Камерная' ttl2='атмосфера')

        -
          const benefits = [
            {ttl: 'Блюда из камчатского краба', txt: 'Наша гордость и хит меню. Наисвежайший, поставляется в клуб прямо', txt2: 'с рыболовного судна, где его предварительно варят в морской воде'},
            {ttl: 'Авторская', ttl2: 'кухня', txt: 'Мы применяем классические методы готовки из различных кухонь мира. Сочетаем их с региональными продуктами'},
            {ttl: 'Богатая', ttl2: 'винная карта', txt: 'Часть блюд из меню идеально подойдет', txt2: 'для поклонников вина, другая — для тех,', txt3: 'кто предпочитает сигары'},
            {ttl: 'Классические', ttl2: 'коктейли XX века', txt: 'Cвежайший камчатский краб, мурманская треска и другие продукты закупаются', txt2: 'у лучших, проверенных годами поставщиков'},
          ]

        each item, index in benefits
          .benefits-cell.cell-list(data-aos='fade-up')
            +restaurant-benefit-ico(`${index}`)

            .benefits-cell__info
              .benefits-cell__ttl.h3 #{item.ttl}
                if (item.ttl2)
                  br
                  | #{item.ttl2}

              .benefits-cell__txt #{item.txt}
                if (item.txt2)
                  br 
                  |#{item.txt2}
                if (item.txt3)
                  br 
                  |#{item.txt3}

      .benefits-block.only-mobile
        .benefits-cell(data-aos='fade-up')
          +big-titles(subttl='безупречный сервис' ttl='Камерная' ttl2='атмосфера')

        -
          const benefitsMob = [
            {ttl: 'Блюда из камчатского краба', txt: 'Наша гордость и хит меню. Наисвежайший, поставляется в клуб прямо с рыболовного судна, где его предварительно варят в морской воде'},
            {ttl: 'Авторская', ttl2: 'кухня', txt: 'Мы применяем классические методы готовки из различных кухонь мира. Сочетаем их с региональными продуктами'},
            {ttl: 'Богатая', ttl2: 'винная карта', txt: 'Часть блюд из меню идеально подойдет для поклонников вина, другая — для тех, кто предпочитает сигары'},
            {ttl: 'Классические', ttl2: 'коктейли XX века', txt: 'Cвежайший камчатский краб, мурманская треска и другие продукты закупаются у лучших, проверенных годами поставщиков'},
          ]

        each item, index in benefitsMob
          .benefits-cell.cell-list(data-aos='fade-up')
            +restaurant-benefit-ico(`${index}`)

            .benefits-cell__info
              .benefits-cell__ttl.h3 #{item.ttl}
                if (item.ttl2)
                  br
                  | #{item.ttl2}

              .benefits-cell__txt #{item.txt}
                if (item.txt2)
                  br 
                  |#{item.txt2}
                if (item.txt3)
                  br 
                  |#{item.txt3}  

  section.section.before-interior-block
    .container

      .certificates-block.restaurant-page-block

        .certificates-block__row

          .certificates-block__info

            +big-titles(subttl='от шеф-повара' ttl='Изысканное' ttl2='меню' txt='В меню ресторана представлены как блюда, хорошо известные каждому поклоннику гастрономии, так и отражающие авторское видение нашего шефа')

            //- .certificates-block__txt
            //-   |Особенный подарок для любого случая. Камерная атмосфера, изысканное меню и обширная винная карта позволят в полной мере насладиться временем проведенным в нашем клубе

            //- +brown-button.certificates-block__btn(data-aos='fade-up')
            //-   |Смотреть меню

            .restaurant-page-block__btn(data-aos='fade-up')
              +read-more-btn
                |Смотреть меню

          div(data-aos='fade-up')
            +picture.certificates-block__img(file='restaurant-1')

  section.section--bottom.section--grey.interior-block
    .container
      .interior-block__slider
        .restaurant-slider(data-aos='fade-up')
          .restaurant-slider__col.only-desktop
            +control-left#restaurant-slider-prev

          .restaurant-slider__container
            .swiper-container#restaurant-slider
              .swiper-wrapper
                - for (i=0;i<3;i++)
                  .swiper-slide
                    +picture(file='restaurant-slide')

            .sliders-pagination#restaurant-slider-pagination

          .restaurant-slider__col.only-desktop
            +control-right#restaurant-slider-next

      .interior-block__col
        +big-titles(subttl='строгость и элегантность' ttl='Ресторан' txt='Строгий контроль качества продуктов и внимание наших сотрудников позволит вам в полной мере насладиться временем проведенным в его стенах.' txtp='Часть блюд из меню идеально подойдет для поклонников вина, другая – для тех, кто предпочитает сигары,' txtp2='а подобрать правильную гастрономическую пару помогут наши профессиональные сомелье и фумелье')

  section.section
    .container

      .certificates-block.restaurant-page-block

        .certificates-block__row

          .certificates-block__info

            +big-titles(subttl='рекомендует' ttl='Шеф-повар' txt='Мы тщательно выбираем продукты для своих блюд. Знаем, у кого лучший камчатский краб, мурманская треска, ленский осётр и сезонные овощи')

            //- +brown-button.certificates-block__btn(data-aos='fade-up')
            //-   |Смотреть меню

            .restaurant-page-block__btn(data-aos='fade-up')
              +read-more-btn
                |Смотреть меню

          div(data-aos='fade-up')
            +picture.certificates-block__img(file='restaurant-2')
  
  include ../components/sections/humidor-slider-section

  - var restaurant = true
  include ../components/sections/certificate-section
  .mob-section-border
  include ../components/sections/subscribe-section

block modals
  include ../components/popups/certificate-popup
  include ../components/popups/certificate2-popup
  include ../components/popups/subscribe-success-popup
  