.modal.modal--right.review-popup.filters-popup(data-popup='3')
  .review-popup__top
    .review-popup__ttl.h4.title-font Фильтры
    button.button--clean.modal__close(data-modal-close)

  .review-popup__body.filters-popup__body
    .filters-popup-item
      .filters-popup-item__ttl
        span цена

      .filter-range#range-slider-container

        .filter-range__input
          span От
          input#range-from(type="number")
        .filter-range__input
          span До
          input#range-to(type="number")

        .filter-range__slider#range-slider(data-range-min='0' data-range-max='50')

    .filters-popup-item
      .filters-popup-item__ttl
        span производитель

        button.button--clean.filter-btn-more(data-popup-button='4') Все

      .filters-popup-item__list

        -
          const filters1 = [
            {name: 'Alec Bradley', count: '24'},
            {name: 'Atabey', count: '94'},
            {name: 'Bugatti', count: '1'},
            {name: 'Cohiba', count: '1'},
            {name: 'Davidoff', count: '1'},
            {name: 'Gurkha', count: '57'},
          ]

        each item in filters1
          button.category-filter-btn.button--clean
            |#{item.name}
            span.category-filter-btn__count #{item.count}
            span.category-filter-btn__cross

    .filters-popup-item
      .filters-popup-item__ttl
        span страна

      .filters-popup-item__list

        -
          const filters2 = [
            {name: 'Гондурас', count: '10'},
            {name: 'Доминикана', count: '94'},
            {name: 'Италия', count: '1'},
            {name: 'Коста-Рика', count: '1'},
            {name: 'Куба', count: '1'},
            {name: 'Никарагуа', count: '57'},
          ]

        each item in filters2
          button.category-filter-btn.button--clean
            |#{item.name}
            span.category-filter-btn__count #{item.count}
            span.category-filter-btn__cross

    .filters-popup-item
      .filters-popup-item__ttl
        span крепость

      .filters-popup-item__list

        button.category-filter-btn.button--clean
          .catalog-card__strong
            .point.active
          span.category-filter-btn__count 23
          span.category-filter-btn__cross

        button.category-filter-btn.button--clean
          .catalog-card__strong
            - for (i=0;i<2;i++)
              .point.active
          span.category-filter-btn__count 23
          span.category-filter-btn__cross

        button.category-filter-btn.button--clean
          .catalog-card__strong
            - for (i=0;i<3;i++)
              .point.active
          span.category-filter-btn__count 23
          span.category-filter-btn__cross

        button.category-filter-btn.button--clean
          .catalog-card__strong
            - for (i=0;i<4;i++)
              .point.active
          span.category-filter-btn__count 23
          span.category-filter-btn__cross

        button.category-filter-btn.button--clean
          .catalog-card__strong
            - for (i=0;i<5;i++)
              .point.active
          span.category-filter-btn__count 23
          span.category-filter-btn__cross

    .filters-popup-item
      .filters-popup-item__ttl
        span время курения

      .filters-popup-item__list

        -
          const filters4 = [
            {name: 'до 30 мин', count: '10'},
            {name: '30‒59 мин', count: '9'},
            {name: '60‒90 мин', count: '12'},
            {name: 'более 90', count: '24'}
          ]

        each item in filters4
          button.category-filter-btn.button--clean
            |#{item.name}
            span.category-filter-btn__count #{item.count}
            span.category-filter-btn__cross

    .filters-popup-item
      .filters-popup-item__ttl
        span формат
          .tooltip
            +tooltipIco
            .tooltip__txt Формат — это определенное сочетание формы, длины и диаметра сигары

      .filters-popup-item__list

        -
          const filters3 = [
            {name: 'Petit corona', count: '2'},
            {name: 'Corda corona', count: '1'},
            {name: 'Churchill', count: '1'},
            {name: 'Lonsdale', count: '1'},
            {name: 'Robusto', count: '57'},
            {name: 'Long Panatela', count: '57'},
          ]

        each item in filters3
          button.category-filter-btn.button--clean
            |#{item.name}
            span.category-filter-btn__count #{item.count}
            span.category-filter-btn__cross

    .filters-popup-item
      .filters-popup-item__ttl
        span длина, мм

      .filter-range#range-slider-container

        .filter-range__input
          span От
          input#range-from(type="number")
        .filter-range__input
          span До
          input#range-to(type="number")

        .filter-range__slider#range-slider(data-range-min='10' data-range-max='40')

    .filters-popup-item
      .filters-popup-item__ttl
        span толщина, RG

      .filter-range#range-slider-container

        .filter-range__input
          span От
          input#range-from(type="number")
        .filter-range__input
          span До
          input#range-to(type="number")

        .filter-range__slider#range-slider(data-range-min='20' data-range-max='60')

    .filters-popup-item
      .filters-popup-item__ttl
        span наличие

      .filter-checkboxes
        label.checkbox.filter-checkbox
          .checkbox__label
            input.checkbox__input(type="checkbox")
            .checkbox__box
              +checkbox-white-svg.checkbox__svg

          .checkbox__caption
            |В наличии

            span.count 6


        label.checkbox.filter-checkbox
          .checkbox__label
            input.checkbox__input(type="checkbox")
            .checkbox__box
              +checkbox-white-svg.checkbox__svg

          .checkbox__caption
            |Под заказ

            span.count 6

    .filters-popup-item
      .filters-popup-item__ttl
        span редкость

      .filter-checkboxes
        label.checkbox.filter-checkbox
          .checkbox__label
            input.checkbox__input(type="checkbox")
            .checkbox__box
              +checkbox-white-svg.checkbox__svg

          .checkbox__caption
            |Показать только редкие товары

            span.count 6

  .review-popup__bottom

    +brown-button
      | Показать&nbsp;
      span 250
      | &nbsp;товаров

    +brown-border-button
      |Сбросить все фильтры
