.container

  if (articleTtl)
    +small-titles.small-titles--mb45(ttl=`${articleTtl}` txt=`${articleTxt}`)
  else
    +small-titles.small-titles--mb45(ttl='Справочная информация' txt='Расскажем подробно обо всех тонкостях и нюансах')

  if (!noaos)

    .articles-row.controls-out.only-desktop(data-aos='fade-up')
      .swiper-container#articles-slider
        .swiper-wrapper
      
          -
            const articles = [
              {ttl: 'Как хранить сигару', txt: 'Что же из себя представляет современная сигара? По способу производства различают сигары ручной работы.'},
              {ttl: 'Какую сигару выбрать к вину', txt: 'Что же из себя представляет современная сигара? По способу производства различают сигары ручной работы. Что же из себя представляет современная сигара? По способу производства различают сигары ...'},
              {ttl: 'Как хранить сигару', txt: 'Что же из себя представляет современная сигара? По способу производства различают сигары ручной работы.'},

              {ttl: 'Как хранить сигару', txt: 'Что же из себя представляет современная сигара? По способу производства различают сигары ручной работы.'},
              {ttl: 'Какую сигару выбрать к вину', txt: 'Что же из себя представляет современная сигара? По способу производства различают сигары ручной работы. Что же из себя представляет современная сигара? По способу производства различают сигары ...'},
              {ttl: 'Как хранить сигару', txt: 'Что же из себя представляет современная сигара? По способу производства различают сигары ручной работы.'},
            ] 

          each item in articles
            .swiper-slide
              +article-card(ttl=`${item.ttl}` txt=`${item.txt}`)

      .controls-out__container
        +control-left#articles-slider-prev
        +control-right#articles-slider-next


    .articles-row.only-mobile(data-aos='fade-up')

      -
        const articlesMob = [
          {ttl: 'Как хранить сигару', txt: 'Что же из себя представляет современная сигара? По способу производства различают сигары ручной работы.'},
          {ttl: 'Какую сигару выбрать к вину', txt: 'Что же из себя представляет современная сигара? По способу производства различают сигары ручной работы. Что же из себя представляет современная сигара? По способу производства различают сигары ...'},
          {ttl: 'Как хранить сигару', txt: 'Что же из себя представляет современная сигара? По способу производства различают сигары ручной работы.'},
        ] 

      each item in articlesMob
        +article-card(ttl=`${item.ttl}` txt=`${item.txt}`)

      +article-card(ttl=`Какую сигару выбрать к вину` txt=`Что же из себя представляет современная сигара? По способу производства различают сигары ручной работы. Что же из себя представляет современная сигара? По способу производства различают сигары ...` class='only-tablet')

    +brown-border-link.more-btn(data-aos='fade-up')
      |Смотреть все статьи

  else
    .articles-row.controls-out.only-desktop
      .swiper-container#articles-slider
        .swiper-wrapper
      
          -
            const articles = [
              {ttl: 'Как хранить сигару', txt: 'Что же из себя представляет современная сигара? По способу производства различают сигары ручной работы.'},
              {ttl: 'Какую сигару выбрать к вину', txt: 'Что же из себя представляет современная сигара? По способу производства различают сигары ручной работы. Что же из себя представляет современная сигара? По способу производства различают сигары ...'},
              {ttl: 'Как хранить сигару', txt: 'Что же из себя представляет современная сигара? По способу производства различают сигары ручной работы.'},

              {ttl: 'Как хранить сигару', txt: 'Что же из себя представляет современная сигара? По способу производства различают сигары ручной работы.'},
              {ttl: 'Какую сигару выбрать к вину', txt: 'Что же из себя представляет современная сигара? По способу производства различают сигары ручной работы. Что же из себя представляет современная сигара? По способу производства различают сигары ...'},
              {ttl: 'Как хранить сигару', txt: 'Что же из себя представляет современная сигара? По способу производства различают сигары ручной работы.'},
            ] 

          each item in articles
            .swiper-slide
              +article-card(ttl=`${item.ttl}` txt=`${item.txt}`)

      .controls-out__container
        +control-left#articles-slider-prev
        +control-right#articles-slider-next


    .articles-row.only-mobile

      -
        const articlesMob = [
          {ttl: 'Как хранить сигару', txt: 'Что же из себя представляет современная сигара? По способу производства различают сигары ручной работы.'},
          {ttl: 'Какую сигару выбрать к вину', txt: 'Что же из себя представляет современная сигара? По способу производства различают сигары ручной работы. Что же из себя представляет современная сигара? По способу производства различают сигары ...'},
          {ttl: 'Как хранить сигару', txt: 'Что же из себя представляет современная сигара? По способу производства различают сигары ручной работы.'},
        ] 

      each item in articlesMob
        +article-card(ttl=`${item.ttl}` txt=`${item.txt}`)

      +article-card(ttl=`Какую сигару выбрать к вину` txt=`Что же из себя представляет современная сигара? По способу производства различают сигары ручной работы. Что же из себя представляет современная сигара? По способу производства различают сигары ...` class='only-tablet')

    +brown-border-link.more-btn
      |Смотреть все статьи
