mixin shop-section-body
  .container

    if (smallTitle)
      +small-titles(ttl=`${smallTitle}`)
    else if (newTitle)
      +big-titles(subttl=`${newTitle.subttl}` ttl=`${newTitle.ttl}`)
    else
      +big-titles(ttl='Магазин' subttl='более 1000 товаров в наличии')

    -
      var content = [
        {img: 'shop-img-1',
        brand: 'Ornellaia',
        ttl: 'Вино St-Emilion AOC Premier Grand Cru Classe',
        txt: 'Красное, сухое, 750 мл',
        price: '165 750 ₽'},

        {img: 'shop-img-2',
        brand: 'Gurkha',
        ttl: 'Сигара Triad Platinum',
        txt: 'strong',
        price: '13 820 ₽'}
      ]

    .shop-slider.controls-out(data-aos='fade-up')

      .swiper-container#shop-slider
        .swiper-wrapper
          - for (g=0;g<3;g++)
            each item in content
              .swiper-slide
                +catalog-card(img=`${item.img}` brand=`${item.brand}` ttl=`${item.ttl}` txt=`${item.txt}` price=`${item.price}`)

      .controls-out__container.only-desktop
        +control-left#shop-slider-prev
        +control-right#shop-slider-next

    if (!nobtn)
      +brown-border-button.more-btn(data-aos='fade-up')
        |Перейти в каталог

    if (newBtn)
      +brown-border-button.more-btn(data-aos='fade-up')
        |#{newBtn}

if (sectionBottom)
  section.section--bottom.shop-section
    +shop-section-body

else
  section.section.shop-section
    +shop-section-body
  