mixin big-titles
  .big-titles(class=attributes.class)
    .big-titles__subttl #{attributes.subttl}

    if (attributes.shop)
      h1.big-titles__ttl #{attributes.ttl}
    else
      h2.big-titles__ttl #{attributes.ttl}

    if (attributes.txt)
      .big-titles__txt #{attributes.txt}


    if (attributes.shop)
      .big-titles__txt В нашем интернет-магазине вы найдете коллекцию лучших сигар, #[br] терпкого алкоголя и ярких вин



mixin small-titles
  .small-titles(class=attributes.class)
    h3.small-titles__ttl #{attributes.ttl}

    if (attributes.txt)
      .small-titles__txt #{attributes.txt}