mixin big-titles
  .big-titles(class=attributes.class)
    .big-titles__subttl #{attributes.subttl}

    if (attributes.shop)
      h1.big-titles__ttl.h1 #{attributes.ttl}
      
    else
      h2.big-titles__ttl.h1 #{attributes.ttl}
      
        if (attributes.ttl2)
          br
          |#{attributes.ttl2}

    if (attributes.txt)
      .big-titles__txt #{attributes.txt}

        if (attributes.txt2)
          br
          |#{attributes.txt2}



mixin small-titles
  .small-titles(class=attributes.class)
    h3.small-titles__ttl.h2 #{attributes.ttl}

    if (attributes.txt)
      .small-titles__txt #{attributes.txt}