mixin review-card
  .review-card
    .review-card__top
      .review-card__name Юлия
      .review-card__grade
        - for (i=0;i<4;i++)
          +grade-star.review-card__star.active
        +grade-star

    .review-card__txt
      |Богатый ассортимент, уют, комфорт и атмосфера, интересные люди, шикарный интерьер!!! Отличная вытяжка, которую в интерьере не сразу и заметишь.

    +read-more-btn.only-desktop(data-popup-button='2' btn)
      |Читать полностью

    button.button--clean.review-card__btn.only-mobile(data-popup-button='2') Читать полностью

mixin article-card
  a.articles-card(href='' class=attributes.class)
    .articles-card__top
      .catalog-card__labels
        .catalog-card__labels-item.label-brown сигары
      .articles-card__top-img
        +picture.articles-card__img(file=`shop-article-1`)

    .articles-card__bottom
      .articles-card__info.only-desktop.big-card
        .articles-card__info-col 20.04.2021
        .articles-card__info-col 5 мин

      div
        .articles-card__ttl.h4 #{attributes.ttl}
        .articles-card__txt #{attributes.txt}

      .articles-card__bottom-row
        +read-more-btn(data-atr='' btn)
          |Читать полностью

        .articles-card__info.small-card
          .articles-card__info-col 20.04.2021
          .articles-card__info-col 5 мин

//- mixin article-card-big
//-   a.articles-card--big(href='' class=attributes.class)
//-     .articles-card__top
//-       .catalog-card__labels
//-         .catalog-card__labels-item.label-brown сигары
//-       .articles-card__top-img
//-         +picture.articles-card__img(file=`shop-article-1`)

//-     .articles-card__bottom

//-       .articles-card__info.only-desktop
//-         .articles-card__info-col 20.04.2021
//-         .articles-card__info-col 5 мин

//-       div
//-         .articles-card__ttl #{attributes.ttl}
//-         .articles-card__txt #{attributes.txt}

//-       .articles-card__bottom-row
//-         +read-more-btn(data-atr='' btn)
//-           |Читать полностью

//-         .articles-card__info.only-mobile
//-           .articles-card__info-col 20.04.2021
//-           .articles-card__info-col 5 мин


mixin catalog-card
  .catalog-card
    .catalog-card__top
      .catalog-card__labels
        .catalog-card__labels-item.label-black NEW
        .catalog-card__labels-item.label-brown limited
        .catalog-card__labels-item.label-red −30%

      if (attributes.fav)
        button.button--clean.catalog-card__fav.active
          +favorites-icon

      else
        button.button--clean.catalog-card__fav
          +favorites-icon
      
      a(href='')
        +picture(file=`${attributes.img}`)

    a.catalog-card__bottom(href='')
      div
        .catalog-card__brand #{attributes.brand}
        .catalog-card__title #{attributes.ttl}

      .catalog-card__info
        div
          if (attributes.noCntry)

          else
            .catalog-card__country
              +italy-flag.flag-ico
              |Италия

          if (attributes.txt)

            if (attributes.txt !== 'strong')
              .catalog-card__txt #{attributes.txt}

            else
              .catalog-card__strong
                |Крепость

                - for (i=0;i<4;i++)
                  .point.active
                .point

        .catalog-card__price
          div
            span.current #{attributes.price}
            span.old #{attributes.price}

          +addedToCart.added-to-cart.only-desktop
    
    .catalog-card__btn-container
      +brown-button.catalog-card__btn.only-desktop(tabindex="-1")
        |Добавить в корзину

      +brown-button.catalog-card__btn.only-mobile(tabindex="-1")
        |В корзину

mixin catalog-card-small
  .catalog-card.catalog-card--small
    a.catalog-card__top(href='')

      +picture(file=`${attributes.img}`)

    .catalog-card__bottom

      a(href="")
        .catalog-card__brand #{attributes.brand}
        .catalog-card__title #{attributes.ttl}

      .catalog-card__info

        .catalog-card__price
          span.current #{attributes.price}
    
        +brown-border-button.catalog-card__btn
          |В корзину
