.category-top__line.filter-drops
  .filter-drops-btns
    button.category-filter-drop.button--clean(data-popup-button='3')
      +filter-icon
      span все фильтры

    each item, index in filters
      button.category-filter-drop.button--clean.only-desktop(data-filter-btn=`${index}`)
        span #{item}
        +arrow-down

    button.category-filter-drop.button--clean(data-filter-btn="6")
        span(data-sort-filter) рекомендуем
        +arrow-down

  .filter-drops-container

    .filter-drops-modal.only-desktop(data-price-filter data-filter-drop="0")
      .filters-popup-item__ttl
        span цена

      .filter-range#range-slider-container

        .filter-range__input
          span От
          input#range-from(type="number")
        .filter-range__input
          span До
          input#range-to(type="number")

        .filter-range__slider#range-slider(data-range-min='0' data-range-max='50')

      label.checkbox.filter-checkbox
        .checkbox__label
          input.checkbox__input(type="checkbox")
          .checkbox__box
            +checkbox-white-svg.checkbox__svg

        .checkbox__caption Показать только товары со скидкой

          span.count 250

    .filter-drops-modal.only-desktop(data-producer-filter data-filter-drop="1")
      .filters-popup-item__ttl
        span производитель

      .filter-producers__ttl Поиск по производителям

      label.filter-producers__input
        input(type="search" placeholder="Введите производителя")

        button.button--clean(type="submit")
          +search-icon

      .filter-checkboxes

        label.checkbox.filter-checkbox.disabled
          .checkbox__label
            input.checkbox__input(type="checkbox")
            .checkbox__box
              +checkbox-white-svg.checkbox__svg

          .checkbox__caption
            |Alec Bradley

            span.count 7

        -
          const checkboxes2 = [
            {name: 'Atabey', count: '7'},
            {name: 'Bugatti', count: '11'},
            {name: 'Davidoff', count: '33'},
            {name: 'Gurkha', count: '22'},
            {name: 'Juan Lopez', count: '1'},
            {name: 'La Flor Dominicana', count: '4'},
            {name: 'Nub', count: '4'},
            {name: 'Paradiso', count: '4'},
            {name: 'Plasencia', count: '5'},
            {name: "Quai D'Orsay", count: '5'},
            {name: 'Romeo Y Julieta', count: '5'},
            {name: 'Vegas Robaina', count: '6'},
            {name: 'Arturo Fuente ', count: '21'},
            {name: 'AVO', count: '1'},
            {name: 'Camacho', count: '2'},
          ]

        each item in checkboxes2

          label.checkbox.filter-checkbox
            .checkbox__label
              input.checkbox__input(type="checkbox")
              .checkbox__box
                +checkbox-white-svg.checkbox__svg

            .checkbox__caption
              |#{item.name}

              span.count #{item.count}

    .filter-drops-modal.only-desktop(data-country-filter data-filter-drop="2")
      .filters-popup-item__ttl
        span страна

      .filter-producers__ttl Поиск по странам

      label.filter-producers__input
        input(type="search" placeholder="Введите страну")

        button.button--clean(type="submit")
          +search-icon

      .filter-checkboxes

        each item in checkboxes2

          label.checkbox.filter-checkbox
            .checkbox__label
              input.checkbox__input(type="checkbox")
              .checkbox__box
                +checkbox-white-svg.checkbox__svg

            .checkbox__caption
              |#{item.name}

              span.count #{item.count}

    .filter-drops-modal.only-desktop(data-strong-filter data-filter-drop="3")
      .filters-popup-item__ttl
        span крепость

      .filters-popup-item__list

        button.category-filter-btn.button--clean
          .catalog-card__strong
            .point.active
          span.category-filter-btn__cross
          span.category-filter-btn__count 23

        button.category-filter-btn.button--clean
          .catalog-card__strong
            - for (i=0;i<2;i++)
              .point.active
          span.category-filter-btn__cross
          span.category-filter-btn__count 23

        button.category-filter-btn.button--clean
          .catalog-card__strong
            - for (i=0;i<3;i++)
              .point.active
          span.category-filter-btn__cross
          span.category-filter-btn__count 23

        button.category-filter-btn.button--clean
          .catalog-card__strong
            - for (i=0;i<4;i++)
              .point.active
          span.category-filter-btn__cross
          span.category-filter-btn__count 23

        button.category-filter-btn.button--clean
          .catalog-card__strong
            - for (i=0;i<5;i++)
              .point.active
          span.category-filter-btn__cross
          span.category-filter-btn__count 23

    .filter-drops-modal.only-desktop(data-duration-filter data-filter-drop="4")
      .filters-popup-item__ttl
        span время курения

      .filter-checkboxes
        label.checkbox.filter-checkbox
          .checkbox__label
            input.checkbox__input(type="checkbox")
            .checkbox__box
              +checkbox-white-svg.checkbox__svg
          .checkbox__caption
            |до 30 мин
            span.count 18

        label.checkbox.filter-checkbox
          .checkbox__label
            input.checkbox__input(type="checkbox")
            .checkbox__box
              +checkbox-white-svg.checkbox__svg
          .checkbox__caption
            |30‒59 мин
            span.count 9

    .filter-drops-modal.only-desktop(data-format-filter data-filter-drop="5")
      .filters-popup-item__ttl
        span формат
      .filter-producers__ttl Поиск по форматам

      label.filter-producers__input
        input(type="search" placeholder="Введите формат")

        button.button--clean(type="submit")
          +search-icon

      .filter-checkboxes

        each item in checkboxes2

          label.checkbox.filter-checkbox
            .checkbox__label
              input.checkbox__input(type="checkbox")
              .checkbox__box
                +checkbox-white-svg.checkbox__svg

            .checkbox__caption
              |#{item.name}

              span.count #{item.count}

    .filter-drops-modal(data-sorting-filter data-filter-drop="6")
      fieldset.sorting-filter
        label.sorting-filter__label
          input.sorting-filter__input(type="radio" name="sorting")
          .sorting-filter__txt Рекомендуем
        label.sorting-filter__label
          input.sorting-filter__input(type="radio" name="sorting")
          .sorting-filter__txt Новинки
        label.sorting-filter__label
          input.sorting-filter__input(type="radio" name="sorting")
          .sorting-filter__txt По убыванию цены
        label.sorting-filter__label
          input.sorting-filter__input(type="radio" name="sorting")
          .sorting-filter__txt По возрастанию цены