mixin header
  header.header

    .header-mobile.only-mobile
      a.header__logo(href="" tabindex="0") 
        +logo.header__logo-svg

      .header-mobile__buttons
        button.button--clean.header-mobile__buttons-item
          +header-callback

        button.button--clean.header-mobile__buttons-item.mob-burger(data-menu-btn)
          //- +mob-burger
          .mob-burger-inner

    .header-body.only-desktop(data-aos='fade-up')

      .header__top
        .container
          address.header__top-inner
            .header__address
              |г. Санкт-Петербург, ул. Малая Морская, дом 18

            .header__top-links
              //- a.header__top-social(href="") 
              //-   +vk-icon

              a.icon-circle(href="")
                +vk-icon.vk-circle-ico

              a.icon-circle(href="")
                +tg-icon.tg-circle-ico

              a.icon-circle(href="")
                +wa-icon.wa-circle-ico

              a.tel(href="tel:+78124545656" tabindex="0")
                |+7 (812) 454-56-56

      .header__bottom
        .container

          .header__bottom-inner

            a.header__logo(href="" tabindex="0") 
              +logo.header__logo-svg

            nav.header__nav
              each item, index in ['Сигарный клуб', 'Магазин', 'Ресторан']
                a.header__nav-item(href="" tabindex="0" data-header-btn=`${index}`)
                  | #{item}
              
                //- button.button--clean.header__nav-item(data-header-btn=`${index}` tabindex="0")
                //-   |#{item}

              a.header__nav-item(href="" tabindex="0") Контакты

            .header__buttons
              //- button.button--clean.header__buttons-icon(data-fav-btn tabindex="0")
              //-   +favorites-icon

              a.header__buttons-icon(href="" data-fav-btn tabindex="0")
                +favorites-icon

              //- button.button--clean.header__buttons-icon.count(data-cart-btn tabindex="0")
              //-   +cart-icon
              //-   .count-num 15

              a.header__buttons-icon.count(href="" data-cart-btn tabindex="0")
                +cart-icon
                .count-num 15

              +brown-button(data-popup-button='1' tabindex="0")
                |Забронировать


    .header-modals.only-desktop

      .header-modals__item(data-header-modal='0')
        .container
          .header-modals__col

            each item in ['Сигарный лаунж', 'Хьюмидорная комната', 'Кабинет Фрейда', 'Винотека']
              a.header-modals__big-ttl(href="") #{item}

          .header-modals__col

            each item in ['О клубе', 'Система лояльности', 'Подарочные сертификаты', 'Справочная информация']
              a.header-modals__small-ttl(href="") #{item}

      .header-modals__item(data-header-modal='1')
        .container
          .header-modals__col

            each item in ['Сигары', 'Сигариллы', 'Хьюмидоры', 'Крепкие напитки']
              a.header-modals__big-ttl(href="") #{item}

          .header-modals__col

            each item in ['Наборы', 'Вина', 'Аксессуары']
              a.header-modals__big-ttl(href="") #{item}

      .header-modals__item(data-header-modal='2')
        .container
          .header-modals__col

            each item in ['Основное меню', 'Крабовое меню', 'Бранчи', 'Сезонное']
              a.header-modals__big-ttl(href="") #{item}

          .header-modals__col

            each item in ['Б/а напитки', 'Винная карта', 'Барная карта']
              a.header-modals__big-ttl(href="") #{item}

          .header-modals__col

            each item in ['О ресторане', 'Подарочные сертификаты']
              a.header-modals__small-ttl(href="") #{item}


      .header-modals-small.empty(data-fav-modal data-header-modal='3')
        .header-modals-small__ttl Избранное
        .header-modals-small__txt Вы не добавили товары в избранное. Перейдите в каталог, чтобы добавить товары
        +brown-border-button
          |Перейти в каталог

      .header-modals-small.empty(data-cart-modal data-header-modal='4')
        .header-modals-small__ttl Корзина
        .header-modals-small__txt В вашей корзине нет товаров. Перейдите в каталог, чтобы добавить товары
        +brown-border-button
          |Перейти в каталог


      .header-modals-small.not-empty(data-fav-modal data-header-modal='5')
        .header-modals-small__ttl Избранное

        .product-list
          - for (a=0;a<5;a++)
            .product-list__card
              .product-list__img
                +picture(file='shop-img-1')
              .product-list__info
                .product-list__brand Ornellaia
                .product-list__ttl Вино Masseto, Toscana IGT
              .product-list__col
                .catalog-card__price
                  div
                    span.current 13 820 ₽
                    span.old 13 820 ₽
                button.product-list__del.button--clean Удалить

        .header-modals-small__bottom
          .header-modals-small__fav-count
            span 8 
            |&nbsp;товаров в избранном
          +brown-border-button
            |Перейти в избранное
   
      .header-modals-small.not-empty(data-cart-modal data-header-modal='6')
        .header-modals-small__ttl Корзина

        .product-list
          - for (a=0;a<5;a++)
            .product-list__card
              .product-list__img
                +picture(file='shop-img-1')
              .product-list__info
                .product-list__brand Ornellaia
                .product-list__ttl Вино Masseto, Toscana IGT

                .card-product__add(data-number-goods)
                  button.button--clean(data-number-goods-minus)
                  span(data-number-goods-count) 2
                  button.button--clean.plus(data-number-goods-plus)

              .product-list__col
                div
                  .catalog-card__price
                    div
                      span.current 13 820 ₽
                      span.old 13 820 ₽
                  .card-product__amount 2 шт. х 6 000 ₽

                button.product-list__del.button--clean Удалить

        .header-modals-small__bottom
          .header-modals-small__cart-count
            span.txt Итого
            span.price 165 820 ₽
          +brown-border-button
            |Перейти в корзину

    .active-filters-row
      .container
        .active-filters-row__container
          button.category-filter-drop.button--clean.only-desktop(data-popup-button='3')
            +filter-icon
            span все фильтры

          button.category-filter-drop.button--clean.only-mobile(data-popup-button='3')
            +filter-icon
            span фильтры

          .active-filters-row__list
            each item in ['Alec Bradley', 'Крепость: 1 из 5', 'Длительность курения: 30 мин']
              button.category-filter-btn.button--clean.active-filter
                | #{item}
                span.category-filter-btn__cross

            button.category-filter-btn.button--clean.filter-reset
                |Очистить все
